<style type="text/css">
/* unvisited link */
a:link {
color: CYAN;
}
/* visited link */
a:visited {
color: #00FF00;
}
/* mouse over link */
a:hover {
color: #FF00FF;
}
/* selected link */
a:active {
color: #0000FF;
}
.movie{
background-image:
url("pics/background/header.jpg");
box-shadow: 0 0 20px rgba(81, 203, 238, 1);
font-family: Berlin Sans FB;
height: 259px;
width: 1030px;
font-color: yellow;
padding: 10px;
border: 5px solid;
border-color: black;
margin: 0px 59px 0px 0px;
text-shadow: rgb(255, 0, 0) 6px 5px 5px;


}
.left{
background-color:black;
box-shadow: 0 0 20px rgba(81, 203, 238, 1);
height: 700px;
width: 200px;
border: 5px solid;
border-color: black;
margin: 0px 0px 0px 140px;
float: left;
}
.mid{
background-image:url("");
height: 400px;
width: 640px;
margin: 0px 0px 0px 0px;
float: left;
-webkit-animation: myfirst 3s linear 5s infinite alternate;
-webkit-animation-duration: 20s; /* Chrome, Safari, Opera, Phones */
animation: myfirst 1s;
}
.right{
background-image:url("pics/ads/imax.jpg");
box-shadow: 0 0 20px rgba(81, 203, 238, 1);
height: 700px;
width: 200px;
border: 5px solid;
border-color: black;
margin: 0px 0px 0px 0px;
float: left;
-webkit-animation: second 3s linear 5s infinite alternate;
-webkit-animation-duration: 20s; /* Chrome, Safari, Opera */
animation: second 1s;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes second {
5%{background-image: url("pics/ads/ad2.jpg");}
33.3% {background-image: url("pics/ads/ad1.jpg");}
66.6% {background-image: url("pics/ads/ad2.jpg");}
100% {background-image: url("pics/ads/ad3.jpg");
}
}
.bottom{
background-image:
url("pics/background/footer.jpg");
box-shadow: 0 0 20px rgba(81, 203, 238, 1);
height: 100px;
width: 1055px;
margin: 1px 0px 0px 140px;
float: left;
text-align:center;
}
.center{
background-color:;

border:#FFFFFF;
border:thick;
width:1400px;
height:1100px;
margin: 1px 0px 0px 120px;

}
.video{
background-color:#333333;
box-shadow: 0 0 20px rgba(81, 203, 238, 1);
widows:inherit;
border:#FFFFFF;
border:thick;
width:px;
height:px;
margin:80px 0px 200px 0px;



}